.social-icons-container{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
}

.fab{
    color: lightgray;
}