.info-container{
    width: 350px;
    height: 200px;
    padding: 10px 20px;
}

.title{
    font-family: "Playfair Display";
    font-size: 30px;
    color: #ffd369;
}

.date{
    font-size: 25px;
    font-family: "Playfair Display";
}

.text{
    font-size: 20px;
    font-family: "Montserrat";
}

@media (max-width: 650px){
    .info-container{
        width: 150px;
        padding: 0;
    }

    .title{
        font-size: 20px;
    }

    .date{
        font-size: 17.5px;
    }

    .text{
        font-size: 15px;
    }
}