.faqpage{
  padding: 100px;
}

.faq-container {
   
    width: 100%;
    height: auto;
}

.faq-title{
    font-size: 60px;
    font-family: "Playfair Display";
    text-align: center;
    margin: 1rem 0 6rem;
}