.hero-section-background{
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../images//bd-tattoo-img-1.jpg");
    background-position: center;
    background-size: cover;

}

.hero-title-container{
   
    text-align: center;
}

hr{
    width: 100%;
    justify-self: center;
    border: 0;
    height: 4px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.hero-title{
    font-size: 100px;
    font-weight: bold;
    font-family: "Playfair Display";
    background: linear-gradient(90deg, rgba(180,158,58,1) 0%, rgba(253,246,29,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  
    
}

.hero-sub-title{
    font-family: "Playfair Display regular 400 italic";
    background: linear-gradient(90deg, rgba(180,158,58,1) 0%, rgba(253,246,29,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 15px;
}

@media(max-width: 650px){
    .hero-title{
        font-size: 50px;
    }

    .hero-sub-title{
        background: black;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}


